{% if page.fileSlug | fixFileSlug != "index" %}
    <footer id="footer-normal">
        <section id="footer-head">
            <article>
                <h4>La reciprocidad</h4>
            </article>
        </section>
        <section id="footer-columns">
            <article>
                <div>
                    <h4>Definición</h4>
                </div>
                <p>
                    Principio social y ético que implica la idea de dar y recibir de manera mutua y equilibrada. Es la práctica de devolver un favor o acción a alguien que ha hecho algo por ti.
                </p>
            </article>
            <article>
                <div>
                    <h4>Ámbitos</h4>
                </div>
                <p>
                    <ul>
                        <li>Intrapersonal</li>
                        <li>Social</li>
                        <li>Familiar</li>
                        <li>Profesional</li>
                    </ul>
                </p>
            </article>
            <article>
                <div>
                    <h4>¿De qué sirve?</h4>
                </div>
                <p>
                    <ul>
                        <li><strong>Fortalece los lazos sociales:</strong> sentir que nuestros actos son correspondidos nos permite crear una base de confianza y respeto mutuo.</li>
                        <li><strong>Fomenta la cooperación:</strong> en el contexto académico o profesional, se logra la escucha activa y el trabajo en equipo.</li>
                        <li><strong>Contribuye al bienestar emocional:</strong> nos hace sentir valorados y reconocidos.</li>
                    </ul>
                </p>
            </article>
        </section>
        <section id="footer-bottom">
            <p id="footer-comite">
                Equipo 1: Reciprocidad
            </p>
            <p id="footer-copyright">
                © 2024 Bruno Ancona
            </p>
        </section>
    </footer>
{% endif %}
