{% if page.fileSlug | fixFileSlug == "index" %}
    <header id="header-sides">
        <span>RECIPROCIDAD</span>
        <span>FORMACIÓN UNIVERSITARIA</span>
    </header>
{% else %}
    <header id="header-center">
        <span>RECIPROCIDAD</span>
        <span>FORMACIÓN UNIVERSITARIA</span>
    </header>
{% endif %}
