---
title: "Reciprocidad - Ordinario Formación Universitaria"
layout: "base.njk"
---

<section id="cover">
    <article id="laureado">
        <h1>
            ¿Quieres descubrir si pones en práctica la reciprocidad?
        </h1>
        <p>
            Cuéntanos sobre tí y descubre si devuelves lo que te dan
            <br>
            o si lo necesitas trabajar.
        </p>
        <p id="haz-click">
            ¡Haz click en empezar y descúbrelo!
        </p>
        <a href="/q1" id="empezar-button">
            <div>
                Empezar
            </div>
        </a>
    </article>
</section>
