---
title: "Pregunta 1 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 1, "¿Valoras tus propios sentimientos y necesidades tanto como valoras los de los demás?", "Área Intrapersonal", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
