---
title: "Pregunta 10 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 10, "¿Inviertes tiempo y dedicación en tus relaciones sociales igual que ellos lo hacen contigo?", "Área Social", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
