---
title: "Pregunta 11 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 11, "¿Te resulta difícil cumplir compromisos sociales, aunque esperas que los demás los cumplan contigo?", "Área Social", [["Sí", "CTM"], ["No", "RECIPROCO"]] %}
