---
title: "Pregunta 12 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 12, "¿Expresas gratitud y aprecio por tus amigos como ellos lo hacen contigo?", "Área Social", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
