---
title: "Pregunta 13 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 13, "¿Inicias conversaciones sobre temas importantes para ellos, igual que ellos lo hacen contigo?", "Área Social", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
