---
title: "Pregunta 14 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 14, "¿Te esfuerzas en entender y apoyar a tu familia como ellos se esfuerzan en apoyarte?", "Área Familiar", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
