---
title: "Pregunta 15 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 15, "¿Ayudas a tus familiares en momentos de necesidad como esperas que ellos te ayuden a ti?", "Área Familiar", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
