---
title: "Pregunta 16 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 16, "¿Dedicas tiempo de calidad y muestras interés en el bienestar de tu familia como ellos lo hacen contigo?", "Área Familiar", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
