---
title: "Pregunta 17 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 17, "¿Muestras gratitud por lo que hacen tus familiares como ellos muestran gratitud hacia ti?", "Área Familiar", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
