---
title: "Pregunta 18 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 18, "¿Tiendes a poner tus propios intereses antes que los de tu familia?", "Área Familiar", [["Sí", "CTM"], ["No", "RECIPROCO"]] %}
