---
title: "Pregunta 19 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 19, "¿Colaboras en las tareas familiares como esperas que ellos colaboren contigo?", "Área Familiar", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
