---
title: "Pregunta 2 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 2, "¿Dedicas tiempo y esfuerzo a cuidarte emocionalmente como lo harías con otros?", "Área Intrapersonal", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
