---
title: "Pregunta 20 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 20, "¿Ofreces ayuda a tus compañeros de trabajo cuando la necesitan, como te gustaría recibirla?", "Área Profesional", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
