---
title: "Pregunta 21 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 21, "¿Esperas que tus compañeros hagan más por ti de lo que tú harías por ellos?", "Área Profesional", [["Sí", "CTM"], ["No", "RECIPROCO"]] %}
