---
title: "Pregunta 22 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 22, "¿Cumples con tus responsabilidades de manera que contribuyas al equipo, igual que esperas que ellos lo hagan?", "Área Profesional", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
