---
title: "Pregunta 23 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 23, "¿Reconoces los logros y contribuciones de tus colegas como ellos reconocen los tuyos?", "Área Profesional", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
