---
title: "Pregunta 24 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 24, "¿Tiendes a evitar ciertos compromisos profesionales aunque esperas que tus colegas los cumplan?", "Área Profesional", [["Sí", "CTM"], ["No", "RECIPROCO"]] %}
