---
title: "Pregunta 28 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 28, "¿Expresas tus sentimientos y opiniones con sinceridad y respeto, como te gustaría que lo hagan contigo?", "Preguntas adicionales", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
