---
title: "Pregunta 29 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 29, "¿Intentas resolver conflictos de manera justa y abierta, como esperas que la otra persona lo haga?", "Preguntas adicionales", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
