---
title: "Pregunta 3 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 3, "¿Reconoces y celebras tus propios logros y habilidades como lo haces con los logros de otros?", "Área Intrapersonal", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
