---
title: "Pregunta 30 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 30, "¿Sientes que la otra persona debe poner más esfuerzo en la relación que tú?", "Preguntas adicionales", [["Sí", "CTM"], ["No", "RECIPROCO"]] %}
