---
title: "Pregunta 31 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 31, "¿Muestras interés en los intereses y pasatiempos de la otra persona como esperas que ellos muestren interés en los tuyos?", "Preguntas adicionales", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
