---
title: "Pregunta 32 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 32, "¿Te esfuerzas por mantener la relación equilibrada invirtiendo tiempo y atención similar a la que recibes?", "Preguntas adicionales", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
