---
title: "Pregunta 33 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 33, "¿Proporcionas retroalimentación constructiva a tus colegas como esperas recibirla?", "Área Profesional", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
