---
title: "Pregunta 34 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 34, "¿Eres puntual y comprometido/a en el trabajo como esperas que los demás lo sean?", "Área Profesional", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
