---
title: "Pregunta 37 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 37, "¿Das la misma importancia a la relación con la otra persona que la que esperas recibir de ellos?", "Preguntas adicionales", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
