---
title: "Pregunta 38 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 38, "¿Expresas tus sentimientos y opiniones con sinceridad y respeto, como te gustaría que lo hagan contigo?", "Preguntas adicionales", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
