---
title: "Pregunta 4 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 4, "¿Eres compasivo/a contigo mismo/a como lo eres con tus amigos cuando enfrentan dificultades?", "Área Intrapersonal", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
