---
title: "Pregunta 5 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 5, "¿Te esfuerzas por cumplir tus metas personales como si estuvieras ayudando a otro a alcanzar las suyas?", "Área Intrapersonal", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
