---
title: "Pregunta 6 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 6, "¿Te enfocas más en tus propias metas que en las necesidades de los demás?", "Área Intrapersonal", [["Sí", "CTM"], ["No", "RECIPROCO"]] %}
