---
title: "Pregunta 7 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 7, "¿Escuchas y comprendes a tus amigos tanto como esperas que ellos lo hagan contigo?", "Área Social", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
