---
title: "Pregunta 8 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 8, "¿Das apoyo emocional a tus amigos en momentos difíciles como te gustaría recibirlo?", "Área Social", [["Sí", "RECIPROCO"], ["No", "CTM"]] %}
