---
title: "Pregunta 9 - Ordinario Formación Universitaria"
layout: "base.njk"
---

{% pregunta 9, "¿Esperas más apoyo emocional de tus amigos del que tú das?", "Área Social", [["Sí", "CTM"], ["No", "RECIPROCO"]] %}
