---
title: "Resultado - Ordinario Formación Universitaria"
layout: "base.njk"
---

<section class="que-laureado">
    <h2>
        Resultado
    </h2>
</section>

<section class="cuestionario">
    <article class="pregunta">
        <h3 id="nombre-laureado">
            &nbsp;
        </h3>
        <section id="descripcion-laureado">
            <p id="texto-laureado">
                &nbsp;
            </p>
        </section>
    </article>
    <aside class="imagen">
        <figure>
            <img id="imagen-laureado" alt="">
        </figure>
    </aside>
</section>

<script src="/scripts/resultado.js"></script>
