main {
    display: flex;
    flex-direction: column;
}

.que-laureado {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid #cfa55e5e;
}

h2 {
    padding: 0;
    margin: 2vh 0;
    font-family: "Alfred Sans Regular";
    font-weight: bold;
    font-size: 1.1rem;
    color: #2e2a25;
}

.cuestionario {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.pregunta {
    width: 70%;
    margin-left: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagen {
    width: 30%;
    margin-right: 4vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.pregunta h3 {
    padding: 0;
    margin: 2vh 0 2.5vh 0;
    font-family: "Alfred Sans Regular";
    font-size: 4rem;
    color: #bb8a35;
    font-weight: bold;
    text-align: center;
}

#descripcion-laureado {
    background-color: #f5f1f1;
}

#descripcion-laureado p {
    font-family: "Alfred Sans Regular";
    font-size: 1.6rem;
    margin: 1rem;
    color: #40516f;
    text-align: justify;
}

#descripcion-laureado strong, #descripcion-laureado b {
    font-weight: bold;
}

.imagen img {
    display: block;
    max-height: 60vh;
    max-width: 25vw;
    width: auto;
    height: auto;
}

@media screen and (max-width: 820px) {
    .cuestionario {
        flex-direction: column;
    }

    .pregunta {
        width: 90%;
        margin: 0;
    }

    .imagen {
        width: 90%;
        margin: 0;
        align-items: center;
    }

    .imagen img {
        margin-top: 5vh;
        max-width: 100%;
    }
}
